@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");
:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --dark-three: #0f0c16;
  --main-color: #581a70b9;
  --color-white: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --color-success: #7db91d;
  --color-danger: #FF0060;
  --color-warning: #F7D060;
  --color-primary: #6c9BCF;
  --color-dark: #363949;
  --color-dark-variant: #677483;
  --color-info-dark: #7d8da1;
  --color-background: #f6f6f9;
  --color-light: rgba(132, 139, 200, 0.18);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);


}
.App {
  width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}
.app h1{
  font-weight: 800;
  font-size: 1.8rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
